@mixin text-xs {
  font-size: 12px;
  line-height: 16px;
}

@mixin text-sm {
  font-size: 14px;
  line-height: 20px;
}

@mixin text-base {
  font-size: 16px;
  line-height: 24px;
}

@mixin text-lg {
  font-size: 18px;
  line-height: 28px;
}
