@import 'tailwindcss';
@import './utilites.css';
@import './theme.css';

@font-face {
  font-family: 'TBCXRegular';
  src: url('../../assets/fonts/TBCXRegular.woff2'), format('woff2');
}

@font-face {
  font-family: 'TBCXMedium';
  src: url('../../assets/fonts/TBCXMedium.woff2'), format('woff2');
}

@font-face {
  font-family: 'TBCXBold';
  src: url('../../assets/fonts/TBCXBold.woff2'), format('woff2');
}

.tbc-regular {
  font-family: 'TBCXRegular', sans-serif;
}

.tbc-medium {
  font-family: 'TBCXMedium', sans-serif;
}

.tbc-bold {
  font-family: 'TBCXBold', sans-serif;
}

*,
::backdrop,
:after,
:before {
  font-family: 'TBCXRegular', sans-serif;
  outline: none;
}

body {
  color: #212529;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;


}

.menu-hover {
  li {
    display: none;
  }
}

#editorEl>div {
  height: 100%;
}

#editorEl::-webkit-scrollbar {
  width: 7px;
}

#editorEl::-webkit-scrollbar-track {
  background: transparent;
}

#editorEl::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 12px;
}

#editorEl::-webkit-scrollbar-thumb:hover {
  cursor: default;
}

label[for='psn-checkbox']::before {
  content: '';
  display: block;
  border-color: #e4e7ed !important;
  box-shadow: none !important;
  border: 2px solid #e4e7ed;
  border-radius: 4px;
  left: 0;
  top: 4px;
  margin-right: -24px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

label[for='psn-checkbox'].active::before {
  background-image: url('/assets/checkmark.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
  background-color: #fec900;
  border: 0 solid #fec900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}