@use '../styles/vars.scss' as *;

@font-face {
  font-family: 'TBCXRegular';
  src: url('../../assets/fonts/TBCXRegular.woff2'), format('woff2');
}

@font-face {
  font-family: 'TBCXBold';
  src: url('../../assets/fonts/TBCXBold.woff2'), format('woff2');
}

.regular-font {
  font-family: 'TBCXRegular', sans-serif;
}

.bold-font {
  font-family: 'TBCXBold', sans-serif;
}

*,
::backdrop,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0 solid;
  font-family: 'TBCXRegular', sans-serif;
  color: $raisin-130;
}

html,
body {
  min-height: 100vh;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: transparent;
  border-radius: 0;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:-webkit-autofill {
    box-shadow: inset 0 0 0 30px white;
    color: #1c1b1f;
    background-color: white;
  }
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}

.container {
  max-width: 1240px;
  margin-inline: auto;
}

.wrapper {
  padding-inline: 1rem;
}

.outline-none {
  --tw-outline-style: none;
  outline-style: none;
}

.btn-img {
  height: 24px;

  @media (max-width: 768px) {
    height: 20px;
  }
}
