@import 'tailwindcss';
@import './utilites.css';
@import './theme.css';

@font-face {
  font-family: 'TBCXRegular';
  src: url('../../assets/fonts/TBCXRegular.woff2'), format('woff2');
}

@font-face {
  font-family: 'TBCXMedium';
  src: url('../../assets/fonts/TBCXMedium.woff2'), format('woff2');
}

@font-face {
  font-family: 'TBCXBold';
  src: url('../../assets/fonts/TBCXBold.woff2'), format('woff2');
}

.tbc-regular {
  font-family: 'TBCXRegular', sans-serif;
}

.tbc-medium {
  font-family: 'TBCXMedium', sans-serif;
}

.tbc-bold {
  font-family: 'TBCXBold', sans-serif;
}

*,
::backdrop,
:after,
:before {
  font-family: 'TBCXRegular', sans-serif;
  outline: none;
}

body {
  color: #212529;
}

html {
  overflow-y: scroll;
}

.menu-hover {
  li {
    display: none;
  }
}