@layer utilities {
  .bg-auth-new {
    background-image: url(https://auth.tnet.ge/images/BG_1.webp);
  }

  .container {
    width: 100%;
    padding-inline: 16px;
  }

  @media (min-width: 768px) {
    .container {
      max-width: calc(1240px + 16px * 2);
      margin-inline: auto
    }
  }

  .bg-blue-gradient {
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #006aff, #38f);
    background-clip: text;
    -webkit-background-clip: text;
  }


  .bg-yellow-gradient {
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #fcc000, #fdcd33);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .bg-orange-gradient {
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(80deg, #fd4100 32.85%, #ff6b00 98.7%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}