@layer utilities {
  .bg-auth-new {
    background-image: url(https://auth.tnet.ge/images/BG_1.webp);
  }

  .container {
    width: 100%;
    padding-inline: 16px;
  }

  @media (min-width: 768px) {
    .container {
      max-width: calc(1240px + 16px * 2);
      margin-inline: auto;
    }
  }

  @media (max-width: 768px) {
    .container {
      max-width: unset;
    }
  }

  .text-blue-gradient {
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #006aff, #38f);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .text-yellow-gradient {
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #fcc000, #fdcd33);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .text-orange-gradient {
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(80deg, #fd4100 32.85%, #ff6b00 98.7%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .bg-yellow-gradient {
    background: linear-gradient(180deg, #fcc000, #fdcd33) !important;
  }

  .dynamic-dropdown>div>label {
    margin-bottom: 4px;
    margin-top: 8px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .category-nav-arrow {
    @apply select-none absolute top-17 z-20 hidden h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white opacity-0 transition group-hover/categories:opacity-100 lg:flex;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.06);
  }

  .category-nav-arrow-rnd {
    @apply select-none w-9 h-9 border border-gray-40 hover:bg-gray-10 transition-all rounded-full lg:flex hidden items-center justify-center cursor-pointer bg-white;
  }

  .post-card-arrow {
    @apply flex cursor-pointer items-center justify-center rounded-full h-9 w-9 bg-black-30 opacity-0 transition-all hover:bg-black-40 group-hover/product:opacity-100;
  }

  .post-detail-main-slider-arrow {
    @apply select-none w-9 h-9 border border-gray-40 cursor-pointer transition-all rounded-full lg:flex items-center justify-center absolute top-1/2 z-10 flex -translate-y-1/2 transform bg-white;
  }

  .header-icon {
    @apply cursor-pointer h-10 w-10 items-center justify-center rounded-full transition-all hover:bg-gray-10 hidden min-[780px]:flex;
  }

  .language-switcher-item {
    @apply flex cursor-pointer items-center px-6 py-2 hover:bg-gray-10 transition-colors duration-150;
  }

  .fade-progress-dot {
    animation: 1s ease-in-out 0ms infinite normal none running fadeProgress;
    background-color: currentcolor;
    border-radius: 1em;
    display: inline-block;
    height: 1em;
    vertical-align: top;
    width: 1em;
    margin-left: 1em;
  }

  .switch {
    scrollbar-color: auto !important;
  }

  .card-small {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @media (width <=1280px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (width <=640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (width <=400px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .default-scrollbar {
    scrollbar-color: #9ca3af #f1f1f1 !important;
  }
}