@layer utilities {
  .bg-auth-new {
    background-image: url(https://auth.tnet.ge/images/BG_1.webp);
  }

  .container {
    width: 100%;
    padding-inline: 16px;
  }

  @media (min-width: 768px) {
    .container {
      max-width: calc(1240px + 16px * 2);
      margin-inline: auto
    }
  }
}