$white: #fff;
$black: #000;
$black-2: #272a37;
$gray-800: #1e2939;
$raisin-10: #e9eaeb;
$raisin-20: #d4d4d7;
$raisin-40: #a9aaaf;
$raisin-50: #93959b;
$raisin-130: #1b1d27;
$blue-100: #3c74ff;
$blue-20: #d8e3ff;
$blue-100-10: #3c74ff1a;
$blue-110: #235be5;
$red-100: #f70000;
$red-500: #fb2c36;
$green: #1aba6b;
