<div
  class="flex overflow-x-auto overflow-y-hidden snap-x snap-mandatory whitespace-nowrap no-scrollbar min-h-29"
>
  @if (brandsState?.data()?.length) {
    @for (brand of brandsState!.data(); track $index) {
      <div class="snap-start shrink-0 relative w-22 h-full md:mr-[16.7px] last-of-type:mr-0!">
        <a routerLink="/search" [queryParams]="{ brand: brand.id }" class="group/brand block">
          <div
            class="relative flex h-18 w-18 items-center justify-center rounded-full border-2 border-gray-90 bg-white md:h-22 md:w-22"
          >
            <img
              [src]="brand.logoUrl"
              [alt]="brand.name"
              fetchpriority="high"
              loading="eager"
              width="60"
              height="40"
              decoding="sync"
              class="h-8.75 w-13.75 max-w-full object-contain transition-transform duration-200 group-hover/brand:scale-105 md:h-10 md:w-15"
              style="color: transparent"
            />
          </div>

          <span class="font-bold text-sm mt-2 line-clamp-2 block overflow-hidden text-ellipsis text-center">
            {{ brand.name }}
          </span>
        </a>
      </div>
    }
  }
</div>
