:host {
  .auth-container {
    @media (max-width: 640px) {
      padding: 32px 24px 40px;
    }

    @media (max-width: 768px) {
      width: 576px;
    }

    .auth-modal {
      .data-input {
        gap: 32px !important;

        .top {
          gap: 80px !important;
        }

        .form-wrapper {
          margin-bottom: 96px;
        }

        ::ng-deep {
          .logo-small {
            svg {
              width: 130px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
