<div class="wrapper">
  <div class="auth-container">
    <div class="auth-modal">
      <div class="data-input">
        <div class="top">
          <div class="top-wrapper">
            <app-button-chevron (onClick)="handleChevron()" />
            <img src="assets/tnet.svg" />
          </div>
          <h2 class="bold-font">Recover password</h2>
        </div>
        <div class="form-wrapper">
          <div class="inputs">
            @if(passwordRecoveryStage() === PasswordResetStage.VerifyEmail) {
            <form [formGroup]="prf.form" (submit)="onSubmit()">
              <div>
                <app-input
                  name="email"
                  label="Email"
                  type="email"
                  emailOrPassword="password"
                  [control]="prf.getControl('email')"
                  [submitted]="prf.submitted"
                  [required]="false"
                  [sendEmailButton]="true"
                  [sendCodeActive]="sendCodeActive()"
                  [codeSent]="codeSent()"
                  [codeSendLoading]="sendPasswordRecoveryState?.loading() || false"
                  [disabled]="codeSent()"
                  (sendClick)="sendCode()"
                />
                <app-input
                  name="Code"
                  label="One-time code"
                  type="text"
                  [control]="prf.getControl('code')"
                  [submitted]="prf.submitted"
                  [required]="false"
                />
              </div>
              <app-button
                type="submit"
                [title]="verifyEmailCode?.loading() ? 'Loading...' : 'Continue'"
                color="blue"
              />
            </form>
            } @else if(passwordRecoveryStage() === PasswordResetStage.EnterPassword) {
            <form [formGroup]="pef.form" (submit)="changePassword()">
              <div>
                <app-input
                  name="password"
                  label="Password"
                  type="password"
                  [control]="pef.getControl('password')"
                  [submitted]="pef.submitted"
                  [required]="true"
                />
                <app-input
                  name="passwordConfirm"
                  label="Re-enter password"
                  type="password"
                  [control]="pef.getControl('passwordConfirm')"
                  [submitted]="pef.submitted"
                  [required]="true"
                />
              </div>
              <app-button
                type="submit"
                [title]="passwordRecoveryState?.loading() ? 'Loading...' : 'Change password'"
                color="blue"
              />
            </form>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
