:host {
  .checkbox {
    display: flex;
    flex-direction: column;

    .cont {
      display: flex;
      align-items: center;
      gap: 16px;

      > input {
        height: 20px;
        width: 20px;
        border-radius: 6px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        min-width: 20px;
        outline: none;
        appearance: none;
        border: 1px solid $raisin-40;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0 0 0 4px rgba(26, 186, 107, 0.2);
          border-color: $green;
        }

        &:checked {
          background-image: url('/assets/tick.svg');
          background-color: $green;
          border-color: $green;
        }

        &.error {
          border-color: $red-500;
        }
      }

      > div {
        @include text-sm;
        width: 100%;
        display: flex;
        align-items: center;

        @media (max-width: 640px) {
          @include text-xs;
        }

        label {
          line-height: inherit;
          font-size: inherit;

          a {
            color: $blue-100;
          }
        }

        span {
          line-height: inherit;
          font-size: inherit;
          color: $red-500;
        }
      }
    }

    .error-message {
      @include text-xs;
      margin-top: 4px;
      padding-inline: 8px;
      color: $red-500;
    }
  }
}
