@use '../../../../styles/vars.scss' as *;

:host {
  display: flex;
  justify-content: center;
  width: 100%;

  &.hidden {
    display: none;
  }

  .auth-modal {
    background-color: $white;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    padding: 56px 88px 40px;
    border-radius: 1rem;

    @media (max-width: 640px) {
      padding: 32px 24px 40px;
    }

    @media (max-width: 768px) {
      width: 576px;
    }

    @media (max-width: 640px) {
      width: 100%;
    }

    .data-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      width: 100%;

      @media (max-width: 768px) {
        gap: 24px;
      }

      .logo-small {
        width: 130px;
        height: 40px;
      }

      .top {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 40px;

        @media (max-width: 768px) {
          gap: 24px;
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 24px;

          @media (max-width: 768px) {
            gap: 32px;
          }

          img {
            width: 130px;
            height: 40px;
          }
        }

        h2 {
          font-size: 24px;
          font-weight: bold;
          line-height: 32px;
          tab-size: 4;
          text-align: center;
          color: $raisin-130;
        }

        .top-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          position: relative;
        }
      }

      .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;

        .inputs {
          width: 100%;

          form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            > div {
              display: flex;
              flex-direction: column;
              gap: 1rem;
            }
          }

          .recover-password {
            display: flex;
            justify-content: flex-end;

            a {
              color: $blue-100;
              font-size: 14px;

              @media (max-width: 640px) {
                font-size: 12px;
              }
            }
          }
        }

        @media (max-width: 768px) {
          gap: 24px;
        }
      }
    }
  }
}
