:host {
  .auth-modal {
    @media (max-width: 768px) {
      width: 576px;
    }

    @media (max-width: 640px) {
      width: 100%;
    }

    .data-input {
      gap: 32px;

      .top {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 40px;

        @media (max-width: 768px) {
          gap: 24px;
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 24px;

          @media (max-width: 768px) {
            gap: 32px;
          }

          img {
            width: 130px;
            height: 40px;
          }
        }

        h2 {
          font-size: 24px;
          font-weight: bold;
          line-height: 32px;
          tab-size: 4;
          text-align: center;
          color: $raisin-130;
        }

        .top-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          position: relative;
        }
      }

      .form-wrapper {
        .inputs {
          form {
            gap: 32px !important;

            > div {
              display: flex;
              flex-direction: column;
              gap: 16px;
            }
          }
        }
      }
    }
  }
}
