@let data = postsState?.stableData();

<div *transloco="let t" class="pb-13 container mx-auto">
  <div class="hidden sm:block">
    <div class="flex items-center">
      <nav aria-label="breadcrumb" class="py-4 pr-4">
        <ol class="flex flex-wrap items-center gap-y-1.5 wrap-break-word">
          <li class="inline-flex items-center">
            <a routerLink="/">
              <span class="tbc-regular text-xs block text-blue-gray">{{ t('addPost.home') }}</span>
            </a>
          </li>
          @if (data?.breadcrumb?.length) {
            <li class="[&amp;&gt;svg]:size-3.5">
              <svg-icon src="assets/breadcrumb-arrow.svg" />
            </li>

            @for (item of data?.breadcrumb; track $index) {
              <div class="group flex items-center text-center">
                <li class="inline-flex items-center">
                  <a routerLink="/search" [queryParams]="{ page: 1, catId: item.id }">
                    <span class="tbc-regular text-xs block text-blue-gray">{{ item.name }}</span>
                  </a>
                </li>
              </div>
              @if (!$last) {
                <li class="[&amp;&gt;svg]:size-3.5">
                  <svg-icon src="assets/breadcrumb-arrow.svg" />
                </li>
              }
            }
          }
        </ol>
      </nav>
      <span class="tbc-medium text-xs text-blue-30">
        {{ data?.result?.totalCount }} {{ t('post.listings') }}
      </span>
    </div>
  </div>
  <div class="z-40 mt-4 flex items-start justify-between">
    <aside class="hidden h-fit w-60 shrink-0 rounded-lg bg-white pb-10 pt-3 lg:block xl:ml-0">
      <div class="mb-6 flex flex-col items-start gap-3 px-4">
        @if (data && data.breadcrumb) {
          <div (click)="navigateBack()" class="flex items-center gap-1 hover:cursor-pointer">
            <svg-icon src="assets/arrow-back.svg" />
            <h1 class="tbc-medium text-base text-blue-30">
              {{ data.breadcrumb.at(data.breadcrumb.at(-1)?.hasChildren ? -1 : -2)?.name }}
            </h1>
          </div>
        }

        <ul class="flex flex-col items-start gap-3">
          @for (category of data?.categories; track $index) {
            <a routerLink="/search" [queryParams]="{ catId: category.id }" queryParamsHandling="merge">
              <h2
                class="tbc-medium text-sm block w-full text-[#454b57] md:hover:text-blue-30 transition-colors duration-300"
                [class.text-blue-30!]="currentCategory == category.id"
              >
                {{ category.name }} ({{ category.count }})
              </h2>
            </a>
          }
        </ul>
      </div>
      <div class="pt-5">
        <hr class="mx-5 text-gray-180" />
        <form [formGroup]="sf.form" class="mt-4 flex flex-col items-start gap-4">
          <ng-container
            *ngTemplateOutlet="
              sfsHeader;
              context: {
                control: 'price',
                titleKey: 'post.price',
              }
            "
          />

          <div [class.hidden]="!sfs.get('price')" class="w-full px-5">
            <div class="relative flex w-full items-center md:w-50">
              <input
                [formControl]="sf.getControl('priceFrom')"
                type="number"
                maxlength="9"
                [placeholder]="t('post.from')"
                class="h-12.5 w-1/2 rounded-l-lg border border-r-0 border-gray-20 text-center tbc-regular text-[12px] placeholder:text-raisin-150"
              />
              <hr
                class="absolute left-1/2 top-1/2 h-6 w-px -translate-x-1/2 -translate-y-1/2 bg-gray-20 border-t-0"
              />
              <input
                [formControl]="sf.getControl('priceTo')"
                type="number"
                maxlength="9"
                [placeholder]="t('post.to')"
                class="h-12.5 w-1/2 rounded-r-lg border border-l-0 border-gray-20 text-center tbc-regular text-[12px] placeholder:text-raisin-150"
              />
            </div>
            <div class="mt-3 flex flex-col items-start gap-3">
              <div class="flex h-fit cursor-pointer items-center gap-2">
                <switch [submitted]="sf.submitted" [control]="sf.getControl('offerPrice')" />
                <span class="tbc-regular text-xs">{{ t('post.offerPrice') }}</span>
              </div>
              <div class="flex h-fit cursor-pointer items-center gap-2">
                <switch [submitted]="sf.submitted" [control]="sf.getControl('discount')" />
                <span class="tbc-regular text-xs">{{ t('post.discount') }}</span>
              </div>
            </div>
          </div>

          <ng-container
            *ngTemplateOutlet="
              sfsHeader;
              context: {
                control: 'location',
                titleKey: 'post.location',
              }
            "
          />

          <div [class.hidden]="!sfs.get('location')" class="w-full px-5">
            <app-select [control]="sf.getControl('locId')" [submitted]="sf.submitted" endpoint="cities" />
          </div>

          <ng-container
            *ngTemplateOutlet="
              sfsHeader;
              context: {
                control: 'condType',
                titleKey: 'post.condition',
              }
            "
          />

          <div [class.hidden]="!sfs.get('condType')" class="w-full px-5">
            <ul class="flex flex-wrap gap-2">
              @for (cond of condTypes; track cond.value) {
                <div (click)="toggleCondType(cond.value)">
                  <ng-container
                    *ngTemplateOutlet="
                      chip;
                      context: {
                        selected: sf.getControl('condType').value?.includes(cond.value),
                        title: cond.label,
                        id: cond.value,
                      }
                    "
                  />
                </div>
              }
            </ul>
          </div>
        </form>
      </div>
    </aside>

    <div class="w-full overflow-x-hidden lg:ml-4">
      <div
        class="z-50 mb-4 flex w-full flex-col items-start justify-between md:flex-row md:items-center md:pr-20"
      >
        <div class="flex items-center gap-1">
          <h4 class="tbc-medium text-lg">{{ data?.result?.totalCount }}</h4>
          <h5 class="tbc-regular text-sm">{{ t('post.listings') }}</h5>
        </div>
      </div>
      <div>
        <main>
          <div class="flex w-full flex-col items-center justify-center gap-2 min-h-45 md:gap-4 lg:pl-0">
            @if (data?.result?.items) {
              @for (item of data?.result?.items!; track $index) {
                <search-post-card class="block w-full" [data]="item" />
              }
            }
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

<ng-template #sfsHeader let-control="control" let-titleKey="titleKey">
  <button
    (click)="sfs.toggle(control)"
    class="flex w-full cursor-pointer flex-nowrap items-center justify-between px-5"
    type="button"
  >
    <span class="tbc-regular text-sm text-start text-raisin-150">{{ titleKey | transloco }}</span>
    <svg-icon [class.rotate-180]="sfs.get(control)" src="assets/profile-arrow.svg" />
  </button>
</ng-template>

<ng-template #chip let-selected="selected" let-title="title" let-id="id" let-field="field" let-mode="mode">
  <li
    [class.bg-yellow-10]="selected"
    [class.border-yellow!]="selected"
    class="flex shrink-0 items-center gap-1 rounded-3xl border border-gray-180 px-3 py-2 text-raisin-150 hover:cursor-pointer"
  >
    @if (selected) {
      <svg-icon src="assets/chip-selected.svg" />
    } @else {
      <svg-icon src="assets/chip-plus.svg" />
    }

    <span class="tbc-regular text-xs">{{ title }}</span>
  </li>
</ng-template>
