:host {
  position: absolute;
  left: 0;

  @media (min-width: 640px) {
    left: -40px;
  }

  button {
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    ::ng-deep {
      .chevron {
        svg {
          transform: rotate(90deg);
          height: 32px !important;
          width: 40px !important;
        }
      }
    }

    &:hover {
      background-color: $raisin-10;
    }
  }
}
