:host {
  display: block;

  > .wrapper {
    padding-block: 1.5rem;

    .container {
      display: flex;
      justify-content: space-between;

      .header-left {
        display: flex;
        align-items: center;
        gap: 1.5rem;
      }
    }
  }
}
