:host {
  display: block;

  > .wrapper {
    padding-block: 24px;

    .container {
      display: flex;
      justify-content: space-between;

      .header-left {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }
  }
}
