<div *transloco="let t" class="relative flex flex-nowrap mt-6 gap-6">
  <form
    autocomplete="off"
    [formGroup]="adForm.form"
    (submit)="onSubmit()"
    class="lg:max-w-159 w-full shrink flex flex-col gap-4"
  >
    <div class="rounded-xl bg-white p-6 md:p-10">
      <h1 class="text-sm tbc-bold leading-5">{{ t('addPost.productDetails') }}</h1>
      <select-ship
        [control]="adForm.getControl('postType')"
        [submitted]="adForm.submitted"
        [items]="postTypeItems()"
        [values]="postTypeValues"
        (onSelect)="adForm.getControl('categoryId').setValue('')"
        label="Advertisement type"
      />
      <app-dropdown
        [required]="true"
        [control]="adForm.getControl('categoryId')"
        [submitted]="adForm.submitted"
        [dataFilter]="this.adForm.getControlSignal('postType')()!"
        dataEndpoint="getCategoriesFlat"
        label="Choose/type Category"
        variant="static"
      />
      @if (!!adForm.getControl('categoryId').value && adForm.getControl('postType').value < 3) {
      <select-ship
        [control]="adForm.getControl('conditionType')"
        [submitted]="adForm.submitted"
        [items]="conditionTypeItems()"
        [values]="conditionTypeValues"
        label="Condition of an item"
      />
      }
    </div>
    <div class="rounded-xl bg-white p-6 md:p-10">
      <h1 class="text-sm tbc-bold leading-5">{{ t('addPost.productDetails') }}</h1>
      <ng-container *ngTemplateOutlet="note"></ng-container>
      <app-input
        [control]="adForm.getControl('title')"
        [submitted]="adForm.submitted"
        [required]="true"
        [label]="t('addPost.title')"
        variant="static"
      />
      <app-text-editor
        [control]="adForm.getControl('description')"
        [submitted]="adForm.submitted"
        [label]="t('addPost.description')"
      />
      <ng-container
        *ngTemplateOutlet="
          languageSection;
          context: {
            isOpen: isEnglishOpen,
            toggle: toggleEnglish.bind(this),
            titleControl: adForm.getControl('title'),
            descControl: adForm.getControl('description'),
            label: 'Add Product Description in English',
          }
        "
      />
      <ng-container
        *ngTemplateOutlet="
          languageSection;
          context: {
            isOpen: isRussianOpen,
            toggle: toggleRussian.bind(this),
            titleControl: adForm.getControl('title'),
            descControl: adForm.getControl('description'),
            label: 'Добавить описание продукта на русском',
          }
        "
      />
      <div class="mt-7 mb-4">
        <div class="relative mb-2 mr-2 inline-flex items-center">
          <input
            id="psn-checkbox"
            type="checkbox"
            [formControl]="adForm.getControl('forDisabledPerson')"
            class="cursor-pointer! z-1 h-5 left-0 opacity-0 absolute w-4 leading-6"
          />
          <label
            for="psn-checkbox"
            [class.active]="!!adForm.getControl('forDisabledPerson').value"
            class="cursor-pointer tbc-regular pl-6 text-sm my-auto align-top leading-6"
          >
            {{ t('addPost.forPsn') }}
          </label>
        </div>
      </div>
      <div class="tbc-regular text-sm mt-4">{{ t('addPost.psnText') }}</div>
    </div>
    <div class="rounded-xl bg-white p-6 md:p-10">
      <h1 class="text-sm tbc-bold leading-5">{{ t('addPost.price') }}</h1>
      <div class="flex gap-7.5">
        <app-input
          [control]="adForm.getControl('price')"
          [submitted]="adForm.submitted"
          [required]="true"
          [disabled]="adForm.getControl('isNegotiable').value"
          [label]="t('addPost.indicatePrice')"
          [trailingBorderContent]="currency"
          placeholder="0"
          variant="static"
          class="price"
        />
        <app-input
          [control]="adForm.getControl('salePercentage')"
          [submitted]="adForm.submitted"
          [label]="t('addPost.discount')"
          [trailingBorderContent]="percentage"
          [disabled]="adForm.getControl('isNegotiable').value"
          [maxValue]="100"
          variant="static"
          type="number"
          class="sale"
        />
      </div>
      <div class="flex gap-2.5 my-4">
        <app-checkbox-chip
          [control]="adForm.getControl('canOfferPrice')"
          [submitted]="adForm.submitted"
          [label]="t('addPost.offerPrice')"
        />
        <app-checkbox-chip
          [control]="adForm.getControl('isNegotiable')"
          [submitted]="adForm.submitted"
          [label]="t('addPost.priceNegotiable')"
        />
      </div>
    </div>
    <div class="rounded-xl bg-white p-6 md:p-10">
      <h1 class="text-sm tbc-bold leading-5 mb-4">{{ t('addPost.contactInfo') }}</h1>
      <app-dropdown
        [required]="true"
        [control]="adForm.getControl('cityId')"
        [submitted]="adForm.submitted"
        dataEndpoint="getAllCities"
        label="Select a location"
        variant="static"
      />
      <div class="flex justify-between gap-7.5 mb-4">
        <app-input
          [control]="adForm.getControl('name')"
          [submitted]="adForm.submitted"
          [required]="true"
          [label]="t('addPost.name')"
          variant="static"
        />
        <app-input
          [control]="adForm.getControl('phoneNumber')"
          [submitted]="adForm.submitted"
          [required]="true"
          [label]="t('addPost.phoneNumber')"
          variant="static"
        />
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>

<ng-template #currency>
  <app-dropdown
    [required]="true"
    [control]="adForm.getControl('currencyType')"
    [submitted]="adForm.submitted"
    [disabled]="adForm.getControl('isNegotiable').value"
    [dataList]="currencyTypeOptions"
    [border]="false"
    variant="static"
  />
</ng-template>

<ng-template #note>
  <div class="bg-raisin-80 px-4 py-2 flex rounded-2xl items-center mt-6">
    <div class="mr-4 min-h-10 min-w-10">
      <svg-icon src="assets/hint-hand.svg" />
    </div>
    <div class="text-xs tbc-regular">Add a suitable title and description in Georgian</div>
  </div>
</ng-template>

<ng-template #percentage>
  <div class="py-1.5 px-3 flex items-center text-xs">%</div>
</ng-template>

<ng-template
  #languageSection
  let-isOpen="isOpen"
  let-toggle="toggle"
  let-titleControl="titleControl"
  let-descControl="descControl"
  let-label="label"
>
  <div class="mt-4" (click)="toggle()">
    <div class="inline-flex items-center cursor-pointer">
      <svg-icon
        class="mr-2 select-none"
        [src]="isOpen() ? '/assets/remove-statement.svg' : '/assets/add-statement.svg'"
      />
      <span class="text-sm tbc-regular leading-5.25 relative top-px"> {{ label }} </span>
    </div>
  </div>

  @if (isOpen()) {
  <app-input
    [control]="titleControl"
    [submitted]="adForm.submitted"
    [required]="true"
    label="Title"
    variant="static"
  />

  <app-text-editor [control]="descControl" [submitted]="adForm.submitted" label="Description" />
  }
</ng-template>
