@use '../../styles/vars.scss' as *;

:host {
  display: block;

  .segmented {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      label {
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: text;
        transition: all 0.2s ease-in-out;
        font-size: 14px;
        color: $gray-800;

        @media (max-width: 640px) {
          top: 0.875rem;
          font-size: 12px;
        }
      }

      .required-star {
        color: $red-100 !important;
      }
    }

    .cont {
      display: flex;
      flex-direction: column;

      .segment {
        display: flex;
        border-radius: 12px;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 56px;
          cursor: pointer;
          transition: all 0.2s ease;
          font-size: 14px;
          border: 1px solid #d4d4d4;

          @media (max-width: 768px) {
            height: 64px;
          }

          &.active {
            background-color: $blue-100-10;
            color: $blue-100;
            z-index: 2;
          }

          &.left {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;

            &.active {
              border-color: $blue-100;
            }
          }

          &.right {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            position: relative;
            right: 1px;

            &.active {
              border-color: $blue-100;
            }
          }
        }
      }

      .error-message {
        font-size: 12px;
        margin-top: 4px;
        padding-inline: 8px;
        color: $red-500;
      }
    }
  }
}
