<div *transloco="let t">
  <div class="border-0 lg:border-b border-b-gray-10">
    <div class="container">
      <div class="my-10 flex flex-col items-start md:mx-auto md:flex-row md:items-center">
        <div class="mb-3.5 flex md:mb-0">
          <a
            target="_blank"
            href="https://play.google.com/store/apps/details?id=ge.my.mymarket&utm_camapaign=marketing&utm_source=facebook&utm_term=main+video"
            class="mr-3.5 last-of-type:mr-0 w-21 h-7"
          >
            <img class="h-full w-full" src="assets/google-play.svg" />
          </a>
          <a
            target="_blank"
            href="https://apps.apple.com/us/app/mymarket-ge/id1560783192?utm_camapaign=marketing&utm_source=facebook&utm_term=main+video"
            class="mr-3.5 last-of-type:mr-0 w-21 h-7"
          >
            <img class="h-full w-full" src="assets/apple-store.svg" />
          </a>
        </div>

        <span class="max-w-xs text-xs opacity-70 md:ml-9.75 md:mt-0">
          {{ t('footer.download') }}
        </span>
      </div>
    </div>
  </div>

  <div class="border-0 lg:border-b border-b-gray-10 lg:b">
    <div class="container my-0 lg:my-14 flex flex-col lg:flex-row gap-0 lg:gap-7.5 justify-between">
      <ng-container
        *ngTemplateOutlet="
          section;
          context: {
            title: t('footer.navigation.title'),
            items: navigation(),
            index: 1,
          }
        "
      />

      <ng-container
        *ngTemplateOutlet="
          section;
          context: {
            title: t('footer.help.title'),
            items: help(),
            extra: socialIcons,
            index: 2,
          }
        "
      />

      <div class="flex-2 hidden lg:block">
        <h6 class="text-raisin-150 text-xs m-0 py-4 cursor-pointer tbc-bold w-fit">
          {{ t('footer.navigation.title') }}
        </h6>

        <div class="flex justify-between">
          @for (column of navigationColumns(); track $index) {
            <ul>
              @for (item of column; track $index) {
                <ng-container *ngTemplateOutlet="categoryLink; context: { item }" />
              }
            </ul>
          }
        </div>
      </div>

      <div class="flex flex-col lg:hidden w-full border-b border-b-gray-10 border-t-gray-10">
        <div (click)="toggleFooterSection(3)" class="py-4 text-left cursor-pointer">
          <button class="peer flex w-full items-center justify-between cursor-pointer" type="button">
            <span class="block !tbc-medium text-sm">{{ t('footer.categories.title') }}</span>
            <svg-icon src="assets/accordion-arrow.svg" />
          </button>
        </div>
        @if (isFooterSectionOpen(3)) {
          @for (item of navigationColumns().flat(); track $index) {
            <a
              class="cursor-pointer mb-5 block text-xs text-gray-160 hover:text-raisin-130 transition-colors duration-150"
            >
              {{ item.name }}
            </a>
          }
        }
      </div>
    </div>
  </div>

  <div class="container py-5 md:py-2 flex items-center mt-0 md:mt-5">
    <div class="flex flex-col md:flex-row rules-link">
      <ul class="flex flex-col md:flex-row md:items-center space-y-2 md:space-y-0 md:space-x-6">
        <ng-container
          *ngTemplateOutlet="
            ruleLink;
            context: { href: 'https://auth.tnet.ge/ka/rules/', label: t('footer.termsAndConditions') }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            ruleLink;
            context: { href: 'https://auth.tnet.ge/ka/usageagreement', label: t('footer.privacyPolicy') }
          "
        />
        <ng-container
          *ngTemplateOutlet="
            ruleLink;
            context: {
              href: 'https://www.mymarket.ge/en/rules/mymarketreturnpolicy',
              label: t('footer.returnPolicy'),
            }
          "
        />
      </ul>

      <div
        inject
        (stateChange)="languageSwitcherOpen.set($event)"
        [content]="languageSwitcher"
        [hoverable]="true"
        trigger="click"
        class="relative mt-3 md:mt-0 md:ml-6 flex items-center rounded-xl border border-gray-30 px-3 py-2.25 text-sm cursor-pointer transition-all w-40 justify-between md:w-auto"
      >
        <div class="flex items-center">
          <svg-icon src="assets/globe.svg" />
          <span class="tbc-medium text-sm ml-2 mr-2 block">{{ t('currentLangLabeled') }}</span>
        </div>
        <svg-icon
          [class.rotate-180]="languageSwitcherOpen()"
          class="transition-all duration-100"
          src="assets/profile-arrow.svg"
        />
      </div>
    </div>
  </div>

  <div class="container px-3.75 my-8 hidden lg:block">
    <div class="rounded-[64px] border border-gray-40 flex items-center relative z-997">
      <div class="flex flex-1 justify-between items-center w-full">
        <div class="w-32.5 mr-6 flex items-center justify-center rounded-[64px] h-16.5 bg-blue-100">
          <span class="flex items-center justify-center">
            <svg-icon src="assets/tnet3.svg" />
          </span>
        </div>
        <div class="w-full -mx-3 justify-between flex flex-wrap flex-row content-start flex-1 pr-3">
          @for (item of platfomLogos(); track $index) {
            <div class="px-3 w-fit">
              <div class="py-5">
                <a
                  [href]="item.url"
                  class="hover:opacity-70 cursor-pointer h-5 flex items-center justify-center rounded-lg transition-all"
                >
                  <svg-icon [src]="item.icon" />
                </a>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="px-4">
    <div
      (click)="toggleFooterSection(4)"
      class="cursor-pointer border-raisin-10 rounded-[22px] border bg-gray-150 p-8 block lg:hidden"
    >
      <button
        class="cursor-pointer flex w-full items-center justify-between"
        id="headlessui-disclosure-button-:rb:"
        type="button"
        aria-expanded="false"
        data-headlessui-state=""
      >
        <div class="flex items-center">
          <a target="_blank" href="https://www.tnet.ge/">
            <svg-icon src="assets/tnet-s.svg" />
          </a>
        </div>
        <svg-icon src="assets/accordion-arrow.svg" />
      </button>

      @if (isFooterSectionOpen(4)) {
        <div class="mt-6 grid grid-cols-3 gap-10">
          @for (item of platfomLogos(); track $index) {
            <a [href]="item.url" target="_blank" class="block">
              <svg-icon [src]="item.icon" />
            </a>
          }
        </div>
      }
    </div>
  </div>

  <div>
    <div class="container my-8">
      <div class="flex flex-col md:flex-row items-center md:justify-between text-raisin-150 text-xs">
        <div class="text-center justify-center">
          <span>This site is protected by reCAPTCHA and the Google</span>
          <a
            href="https://policies.google.com/privacy"
            rel="noreferrer"
            class="px-1.25 text-raisin-150 underline"
            >Privacy Policy</a
          >
          <span>and</span>
          <a
            href="https://policies.google.com/terms"
            rel="noreferrer"
            class="px-1.25 text-raisin-150 underline"
            >Terms of Service</a
          >
          apply
        </div>
        <div class="flex items-center text-xs text-gray-160 mt-6 md:mt-0">
          © 2026 {{ t('footer.allRightsReserved') }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #languageSwitcher>
  <div
    class="absolute z-50 mt-3 rounded-2xl border border-gray-30 bg-white shadow-[0_6px_18px_0_rgba(0,0,0,0.2)] bottom-12 left-0 w-65 md:-left-34"
  >
    <div class="my-3">
      <span class="tbc-regular text-xs mb-2 block px-7 text-[#b3b3b3]">{{ 'language' | transloco }}</span>

      @for (lang of languageService.languages; track lang.code) {
        <div (click)="switchLang(lang.code)" class="language-switcher-item">
          <div
            class="mr-4 flex h-6 w-6 rounded-full border"
            [class.border-[7px]]="languageService.current === lang.code"
            [class.border-gray-40]="languageService.current !== lang.code"
            [class.border-yellow]="languageService.current === lang.code"
          ></div>

          <span class="font-tbcx-regular text-sm block">
            {{ lang.label }}
          </span>
        </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #section let-title="title" let-items="items" let-extra="extra" let-index="index">
  <div class="flex-1">
    <div class="hidden lg:block">
      <h6 class="text-raisin-150 text-xs m-0 py-4 cursor-pointer tbc-bold w-fit">
        {{ title }}
      </h6>

      <ul>
        @for (item of items; track $index) {
          <ng-container *ngTemplateOutlet="navLink; context: { item }" />
        }

        <ng-container *ngTemplateOutlet="extra" />
      </ul>
    </div>

    <div
      [class.border-t]="index === 1"
      class="flex flex-col lg:hidden w-full border-b border-b-gray-10 border-t-gray-10"
    >
      <div (click)="toggleFooterSection(index)" class="py-4 text-left cursor-pointer">
        <button class="peer flex w-full items-center justify-between cursor-pointer" type="button">
          <span class="block !tbc-medium text-sm"> {{ title }}</span>
          <svg-icon src="assets/accordion-arrow.svg" />
        </button>
      </div>
      @if (isFooterSectionOpen(index)) {
        @for (item of items; track $index) {
          <a
            [routerLink]="`/${item.route}`"
            class="cursor-pointer mb-5 block text-xs text-gray-160 hover:text-raisin-130 transition-colors duration-150"
          >
            {{ item.label }}
          </a>
        }
      }
    </div>
  </div>
</ng-template>

<ng-template #navLink let-item="item">
  <li>
    <a
      [routerLink]="`/${item.route}`"
      rel="noopener noreferrer"
      target="_blank"
      class="decoration-0 text-raisin-150 text-xs flex py-2 opacity-70"
    >
      {{ item.label }}
    </a>
  </li>
</ng-template>

<ng-template #categoryLink let-item="item">
  <li>
    <a
      routerLink="/search"
      [queryParams]="{ catId: item.categoryId }"
      class="decoration-0 text-raisin-150 text-xs flex py-2 opacity-70"
    >
      {{ item.name }}
    </a>
  </li>
</ng-template>

<ng-template #socialIcons>
  <div class="md:flex mt-4.5">
    <ng-container
      *ngTemplateOutlet="social; context: { icon: 'fb', url: 'https://www.facebook.com/mymarket.ge/' }"
    />
    <ng-container
      *ngTemplateOutlet="social; context: { icon: 'insta', url: 'https://www.instagram.com/mymarket.ge/' }"
    />
    <ng-container
      *ngTemplateOutlet="
        social;
        context: { icon: 'linkedin', url: 'https://www.linkedin.com/company/tnetgeorgia/mycompany/' }
      "
    />
  </div>
</ng-template>

<ng-template #social let-icon="icon" let-url="url">
  <a
    [href]="url"
    rel="noopener noreferrer"
    target="_blank"
    class="decoration-0 bg-raisin-120 text-12 items-center justify-center w-10 h-10 bg-middle-gray mr-2 rounded-full flex py-4"
  >
    <svg-icon [src]="'assets/' + icon + '.svg'" />
  </a>
</ng-template>

<ng-template #ruleLink let-href="href" let-label="label">
  <li class="flex items-center h-4 md:h-11.5">
    <a
      [href]="href"
      rel="noopener noreferrer"
      target="_blank"
      class="underline text-raisin-150 text-xs opacity-70"
    >
      {{ label }}
    </a>
  </li>
</ng-template>
