@use '../../styles/vars.scss' as *;

:host {
  .tooltip {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .tooltip.visible {
    opacity: 1;
  }

  .tooltip.top {
    transform: translate(-50%, -100%);

    &::after {
      content: '';
      height: 8px;
      width: 8px;
      transform: translateX(-50%) rotate(225deg);
      position: absolute;
      background: inherit;
      z-index: -1;
      left: 50%;
      bottom: -10%;
    }
  }

  .tooltip.bottom {
    transform: translate(-50%, 0%);

    &::after {
      content: '';
      height: 8px;
      width: 8px;
      transform: translateX(-50%) rotate(225deg);
      position: absolute;
      background: inherit;
      z-index: -1;
      left: 50%;
      top: -10%;
    }
  }

  .tooltip.left {
    transform: translate(-100%, -50%);

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      background: inherit;
      transform: translateY(-50%) rotate(45deg);
      right: -4px;
      top: 50%;
      z-index: -1;
    }
  }

  .tooltip.right {
    transform: translate(0, -50%);

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      background: inherit;
      transform: translateY(-50%) rotate(45deg);
      left: -4px;
      top: 50%;
      z-index: -1;
    }
  }

  .tooltip:not(.has-template) {
    background-color: $black-2;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 12px;
  }
}
