<div class="wrapper">
  <div class="auth-container">
    <div class="auth-modal">
      <div class="data-input">
        <svg-icon class="logo-small" src="assets/logo-small.svg" alt="logo" />
        <div class="form-wrapper">
          <div class="inputs">
            <form [formGroup]="fs.form" (submit)="onSubmit()">
              <div>
                <app-input
                  name="emailOrPhone"
                  label="Email / Phone number"
                  type="text"
                  [control]="fs.getControl('emailOrPhone')"
                  [submitted]="fs.submitted"
                  [required]="false"
                />
                <app-input
                  name="password"
                  label="Password"
                  type="password"
                  [control]="fs.getControl('password')"
                  [submitted]="fs.submitted"
                  [required]="false"
                />
                <div class="recover-password">
                  <a routerLink="/user/recover-password">Recover password</a>
                </div>
              </div>
              <app-button
                type="submit"
                [title]="loginState?.loading() ? 'Loading...' : 'Sign in'"
                color="blue"
              />
            </form>
          </div>
        </div>
      </div>
      <div class="separator">
        <hr />
        <span>Or</span>
        <hr />
      </div>
      <div class="socials">
        <app-button
          appTooltip
          position="bottom"
          tooltipText="Login with Google"
          color="raisin"
          imgType="svg"
          src="google"
          [borderOnHover]="true"
        />
        <app-button
          appTooltip
          position="bottom"
          tooltipText="Login with Facebook"
          color="raisin"
          src="facebook"
          imgType="svg"
          [borderOnHover]="true"
        />
        <app-button
          appTooltip
          position="bottom"
          tooltipText="Login with Apple"
          color="raisin"
          imgType="svg"
          src="apple"
          [borderOnHover]="true"
        />
      </div>
      <div class="signup">
        Don't have an account?
        <a routerLink="/user/register">Sign up</a>
      </div>
      <div class="marginator">
        <hr />
      </div>
      <div class="abbr">
        <svg-icon src="assets/tnet.svg" />
        <div class="abbr-wrap">
          <p>Use one account across 9 TNET platforms</p>
          <div class="websites">
            <svg-icon src="assets/excl.svg" />
            <div class="sites">
              <div class="cont">
                <div class="s-wrap">
                  <div>
                    <a href="https://www.myauto.ge" target="_blank">
                      <svg-icon src="assets/myauto.svg" />
                    </a>
                    <a href="https://www.myhome.ge" target="_blank">
                      <svg-icon src="assets/myhome.svg" />
                    </a>
                    <a href="https://www.mymarket.ge" target="_blank">
                      <svg-icon src="assets/mymarket.svg" />
                    </a>
                    <a href="https://www.myjobs.ge" target="_blank">
                      <svg-icon src="assets/myjobs.svg" />
                    </a>
                    <a href="https://www.myparts.ge" target="_blank">
                      <svg-icon src="assets/myparts.svg" />
                    </a>
                  </div>
                  <div>
                    <a href="https://www.livo.ge" target="_blank">
                      <svg-icon src="assets/livo.svg" />
                    </a>
                    <a href="https://www.superapp.tnet.ge" target="_blank">
                      <svg-icon src="assets/superapp.svg" />
                    </a>
                    <a href="https://www.tkt.ge" target="_blank">
                      <svg-icon src="assets/tktge.svg" />
                    </a>
                    <a href="https://www.swoop.ge" target="_blank">
                      <svg-icon src="assets/swoop.svg" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="abbr-out">
      <svg-icon src="assets/tnet-white.svg" />
      <div class="abbr-wrap">
        <p>Use one account across 9 TNET platforms</p>
        <svg-icon class="excl" (click)="abbrState.set(!abbrState())" src="assets/excl.svg" />
      </div>
      <div class="s-wrap-b" [class.visible]="abbrState()">
        <div>
          <a href="https://www.myauto.ge" target="_blank">
            <svg-icon src="assets/myauto.svg" />
          </a>
          <a href="https://www.myhome.ge" target="_blank">
            <svg-icon src="assets/myhome.svg" />
          </a>
          <a href="https://www.mymarket.ge" target="_blank">
            <svg-icon src="assets/mymarket.svg" />
          </a>
          <a href="https://www.myjobs.ge" target="_blank">
            <svg-icon src="assets/myjobs.svg" />
          </a>
          <a href="https://www.myparts.ge" target="_blank">
            <svg-icon src="assets/myparts.svg" />
          </a>
        </div>
        <div>
          <a href="https://www.livo.ge" target="_blank">
            <svg-icon src="assets/livo-s.svg" />
          </a>
          <a href="https://www.superapp.tnet.ge" target="_blank">
            <svg-icon src="assets/superapp-s.svg" />
          </a>
          <a href="https://www.tkt.ge" target="_blank">
            <svg-icon src="assets/tktge.svg" />
          </a>
          <a href="https://www.swoop.ge" target="_blank">
            <svg-icon src="assets/swoop.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
