:host {
  .auth-container {
    .auth-modal {
      .data-input {
        .form-wrapper {
          .inputs {
            .recover-password {
              display: flex;
              justify-content: flex-end;

              a {
                color: $blue-100;
                @include text-sm;

                @media (max-width: 640px) {
                  @include text-xs;
                }
              }
            }
          }
        }
      }

      .separator {
        display: none;
        align-items: center;
        gap: 16px;
        width: 100%;
        margin-top: 28px;

        @media (max-width: 640px) {
          display: flex;
        }

        hr {
          opacity: 0.1;
          width: 100%;
          background-color: $raisin-130;
          color: inherit;
          height: 0;
          border-top-width: 1px;
        }

        span {
          @include text-xs;
          color: $raisin-130;
          opacity: 0.6;
        }
      }

      .socials {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        width: 100%;

        @media (max-width: 640px) {
          gap: 8px;
        }
      }

      .signup {
        display: flex;
        gap: 8px;
        @include text-sm;
        margin-top: 40px;

        @media (max-width: 640px) {
          @include text-xs;
        }

        @media (max-width: 768px) {
          margin-top: 80px;
        }

        a {
          color: $blue-100;
          line-height: inherit;
          font-size: inherit;
        }
      }

      .marginator {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        margin-block: 40px;

        @media (max-width: 640px) {
          display: none;
        }

        hr {
          opacity: 0.1;
          width: 100%;
          background-color: $raisin-130;
          color: inherit;
          height: 0;
          border-top-width: 1px;
        }
      }

      .abbr {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        @media (max-width: 640px) {
          display: none;
        }

        img {
          min-height: 33px;
        }

        .abbr-wrap {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $raisin-50;

          p {
            @include text-sm;
            color: $raisin-50;

            @media (max-width: 640px) {
              @include text-xs;
              text-align: center;
            }
          }

          ::ng-deep {
            svg-icon {
              cursor: pointer;
              svg {
                path {
                  color: $raisin-50;
                }
              }
            }
          }
        }
      }
    }

    .abbr-out {
      display: none;
      flex-direction: column;
      gap: 8px;
      align-items: center;

      @media (max-width: 640px) {
        display: flex;
      }

      img {
        min-height: 33px;
      }

      .abbr-wrap {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $white;

        p {
          color: inherit;
          @include text-sm;

          @media (max-width: 640px) {
            @include text-xs;
            text-align: center;
          }
        }
      }

      > div {
        &:last-of-type {
          height: 52px;
        }
      }
    }
  }
}
