@use '../../../styles/vars.scss' as *;

:host {
  display: block;

  .auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    .auth-modal {
      background-color: $white;
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 600px;
      padding: 56px 88px 40px;
      border-radius: 1rem;

      @media (max-width: 640px) {
        padding: 32px 24px 40px;
      }

      .data-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        width: 100%;

        @media (max-width: 768px) {
          gap: 24px;
        }

        .logo-small {
          width: 130px;
          height: 40px;
        }

        .form-wrapper {
          display: flex;
          flex-direction: column;
          gap: 32px;
          width: 100%;

          .inputs {
            width: 100%;

            form {
              display: flex;
              flex-direction: column;
              gap: 1rem;
            }

            .recover-password {
              display: flex;
              justify-content: flex-end;

              a {
                color: $blue-100;
                font-size: 14px;

                @media (max-width: 640px) {
                  font-size: 12px;
                }
              }
            }
          }

          @media (max-width: 768px) {
            gap: 24px;
          }
        }
      }

      .separator {
        display: none;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin-top: 20px;

        @media (max-width: 640px) {
          display: flex;
        }

        hr {
          opacity: 0.1;
          width: 100%;
          background-color: $raisin-130;
          color: inherit;
          height: 0;
          border-top-width: 1px;
        }

        span {
          color: $raisin-130;
          opacity: 0.6;
          font-size: 12px;
        }
      }

      .socials {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        width: 100%;

        @media (max-width: 640px) {
          gap: 8px;
        }
      }

      .signup {
        display: flex;
        gap: 8px;
        font-size: 14px;
        margin-top: 40px;

        @media (max-width: 640px) {
          font-size: 12px;
          margin-top: 80px;
        }

        span {
          a {
            color: $blue-100;
          }
        }
      }

      .marginator {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin-block: 40px;

        @media (max-width: 640px) {
          display: none;
        }

        hr {
          opacity: 0.1;
          width: 100%;
          background-color: $raisin-130;
          color: inherit;
          height: 0;
          border-top-width: 1px;
        }
      }

      .abbr {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        @media (max-width: 640px) {
          display: none;
        }

        img {
          min-height: 33px;
        }

        .abbr-wrap {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $raisin-50;

          p {
            font-size: 14px;

            @media (max-width: 640px) {
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
    }

    .abbr-out {
      display: none;
      flex-direction: column;
      gap: 8px;
      align-items: center;

      @media (max-width: 640px) {
        display: flex;
      }

      img {
        min-height: 33px;
      }

      .abbr-wrap {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $white;

        p {
          font-size: 14px;

          @media (max-width: 640px) {
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }
  }
}
