:host {
  .auth-container {
    .auth-modal {
      .data-input {
        .form-wrapper {
          .inputs {
            .recover-password {
              display: flex;
              justify-content: flex-end;

              a {
                color: $blue-100;
                @include text-sm;

                @media (max-width: 640px) {
                  @include text-xs;
                }
              }
            }
          }
        }
      }

      .separator {
        display: none;
        align-items: center;
        gap: 16px;
        width: 100%;
        margin-top: 28px;

        @media (max-width: 640px) {
          display: flex;
        }

        hr {
          opacity: 0.1;
          width: 100%;
          background-color: $raisin-130;
          color: inherit;
          height: 0;
          border-top-width: 1px;
        }

        span {
          @include text-xs;
          color: $raisin-130;
          opacity: 0.6;
        }
      }

      .socials {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        width: 100%;

        @media (max-width: 640px) {
          gap: 8px;
        }
      }

      .signup {
        display: flex;
        gap: 8px;
        @include text-sm;
        margin-top: 40px;

        @media (max-width: 640px) {
          @include text-xs;
        }

        @media (max-width: 768px) {
          margin-top: 80px;
        }

        a {
          color: $blue-100;
          line-height: inherit;
          font-size: inherit;
        }
      }

      .marginator {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        margin-block: 40px;

        @media (max-width: 640px) {
          display: none;
        }

        hr {
          opacity: 0.1;
          width: 100%;
          background-color: $raisin-130;
          color: inherit;
          height: 0;
          border-top-width: 1px;
        }
      }

      .abbr {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        @media (max-width: 640px) {
          display: none;
        }

        img {
          min-height: 33px;
        }

        .abbr-wrap {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $raisin-50;
          position: relative;

          p {
            @include text-sm;
            color: $raisin-50;

            @media (max-width: 640px) {
              @include text-xs;
              text-align: center;
            }
          }

          .websites {
            position: relative;
            display: flex;

            .sites {
              position: absolute;
              inset: 0;
              opacity: 0;
              pointer-events: none;
              padding-top: 20px;
              transition: opacity 0.2s ease-in-out;

              .cont {
                .s-wrap {
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  transform: translateX(-50%);
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  padding: 24px 16px;
                  border-radius: 10px;
                  box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px;
                  background-color: $white;
                  gap: 8px;

                  @media (min-width: 768px) {
                    gap: 24px;
                  }

                  div {
                    &:first-of-type {
                      display: flex;
                      gap: 8px;

                      @media (min-width: 768px) {
                        gap: 20px;
                      }
                    }

                    &:last-of-type {
                      display: flex;
                      height: 20px;
                      gap: 8px;

                      @media (min-width: 768px) {
                        gap: 24px;
                      }
                    }

                    &::ng-deep {
                      svg-icon {
                        .mymarket,
                        .myauto,
                        .myparts,
                        .myhome,
                        .tktge,
                        .superapp,
                        .livo {
                          height: 24px;
                        }

                        .myjobs,
                        .swoop {
                          height: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }

            &:hover .sites,
            &:focus-within .sites {
              opacity: 1;
              pointer-events: auto;
            }

            ::ng-deep {
              svg-icon {
                position: relative;
                z-index: 99;
                cursor: pointer;
                svg {
                  path {
                    color: $raisin-50;
                  }
                }
              }
            }
          }
        }
      }
    }

    .abbr-out {
      display: none;
      flex-direction: column;
      gap: 8px;
      align-items: center;

      @media (max-width: 640px) {
        display: flex;
      }

      .abbr-wrap {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $white;

        p {
          color: inherit;
          @include text-sm;

          @media (max-width: 640px) {
            @include text-xs;
            text-align: center;
          }
        }

        .excl {
          cursor: pointer;
        }

        &::ng-deep {
          svg-icon {
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
      }

      .s-wrap-b {
        display: flex;
        flex-direction: column;
        gap: 8px;
        opacity: 0;
        transition: opacity 0.2s ease-in;

        @media (min-width: 768px) {
          gap: 24px;
        }

        &.visible {
          opacity: 1;
        }

        div {
          display: flex;
          gap: 8px;
          align-items: center;
          justify-content: center;

          @media (min-width: 768px) {
            gap: 20px;
          }

          &:last-of-type {
            gap: 16px;

            @media (min-width: 768px) {
              gap: 24px;
            }
          }

          &::ng-deep {
            svg-icon {
              .mymarket,
              .myauto,
              .myparts,
              .myhome,
              .myjobs {
                height: 24px;
              }

              .superapp-s,
              .tktge,
              .livo-s {
                height: 20px;
              }

              .swoop {
                height: 16px;
              }
            }
          }
        }
      }

      > div {
        &:last-of-type {
          height: 52px;
        }
      }
    }
  }
}
