:host {
  .auth-container {
    .auth-modal {
      .data-input {
        gap: 32px !important;

        @media (max-width: 768px) {
          gap: 24px !important;
        }
      }

      form {
        gap: 16px !important;
      }

      .socials {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        width: 100%;

        @media (max-width: 640px) {
          gap: 8px;
        }
      }

      .signup {
        @include text-sm;
        display: flex;
        gap: 4px;
        margin-top: 32px;

        @media (max-width: 768px) {
          margin-top: 24px;
        }

        @media (max-width: 640px) {
          @include text-xs;
          margin-top: 24px;
        }

        a {
          color: $blue-100;
        }
      }
    }
  }
}
