<div class="bg-gray-30 py-5 sm:py-10">
  <div class="container">
    <div class="flex gap-4 lg:gap-5">
      <aside class="rounded-2xl border border-raisin-60 bg-white px-4">
        <div class="rounded-2xl py-5">
          <div class="flex items-center">
            <div class="mr-2 flex overflow-hidden w-12 justify-center items-center h-12 rounded-[50%]">
              <svg-icon src="assets/user.svg" />
            </div>
            <div class="overflow-hidden max-w-45">
              <div class="tbc-bold text-[16px] truncate">Nika Puturidze</div>
              <div class="tbc-bold text-blue-100! text-[12px] truncate">ID 123456</div>
            </div>
          </div>
          <div></div>
        </div>
      </aside>
      <div class="flex flex-1 mt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
