<div class="input-wrapper" [class.trailing]="hasTrailingIcon()" [class.hasError]="hasError()">
  <div class="input-container">
    <input
      [formControl]="control()"
      [name]="name()"
      [type]="inputType()"
      class="input outline-none"
      autocomplete="off"
      placeholder=" "
    />
    <p>
      <span> {{ label() }} </span>
    </p>
  </div>
  <!-- Trailing icon -->
  @if (type() === "password") {
  <button class="trailing-icon" (click)="togglePasswordVisibility()">
    <img
      [src]="
            passwordHidden() ? 'assets/eye-open.svg' : 'assets/eye-closed.svg'
          "
    />
  </button>
  }
</div>

@if (hasError()) {
<span class="error-message">{{ getErrorMessage() }}</span>
}
