@if(sendEmailButton() && codeSent() && showTopEmail()) {
<div class="sent-to">One-time code was sent to <span>{{ control().value }}</span></div>
}
<div
  class="input-wrapper"
  [class.trailing]="hasTrailingIcon()"
  [class.hasError]="hasError()"
  [class.disabled]="disabled()"
>
  <div class="input-container">
    <input
      [formControl]="control()"
      [name]="name()"
      [type]="inputType()"
      class="outline-none"
      autocomplete="off"
      placeholder=" "
      [class.disabled]="disabled()"
    />
    <label>
      <span>{{ label() }}</span>
      @if (required()) {
      <span class="required-star">*</span>
      }
    </label>
  </div>
  <!-- Trailing icon -->
  @if (type() === "password") {
  <button type="button" class="trailing-icon" (click)="togglePasswordVisibility()">
    @if (passwordHidden()) {
    <svg-icon src="assets/eye-open.svg" />
    } @else {
    <svg-icon src="assets/eye-closed.svg" />
    }
  </button>
  }
  <!-- Code sent -->
  @if(sendEmailButton()) {
  <button
    type="button"
    class="send-code-btn"
    [class.disabled]="sendCodeActive()"
    [class.loading]="codeSendLoading()"
    (click)="handleSendCode()"
  >
    <span>Get code</span>
    <div></div>
  </button>
  }
</div>

@if (hasError()) {
<span class="error-message">{{ getErrorMessage() }}</span>
}

<!-- Message for code sent -->
@if (sendEmailButton() && codeSent()) {
<span class="sent-message">The code is active for 3 minutes</span>
}
