@use '../../styles/vars.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  background-color: transparent;
  z-index: 10;

  .sent-to {
    margin-bottom: 1rem;
    font-size: 14px;

    > span {
      font-weight: bold;
    }
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: $white;
    color: $gray-800;
    font-weight: normal;
    border: 1px solid $raisin-10;
    border-radius: 8px;

    @media (max-width: 640px) {
      height: 46px;
    }

    .input-container {
      flex: 1;
      height: 100%;
      width: 100%;
      position: relative;
      padding-inline: 1rem;
      padding-block: 10px;

      .input {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
        font-size: 14px;
        top: 6px;

        @media (max-width: 640px) {
          font-size: 12px;
        }

        &:focus {
          outline: none;
        }

        &:focus + p,
        &:not(:placeholder-shown) + p {
          top: 7px;
          font-size: 12px;
          opacity: 0.5;

          @media (max-width: 640px) {
            top: 6px;
            font-size: 10px;
            opacity: 0.7;
          }
        }

        &.disabled {
          background-color: $raisin-10 !important;
          cursor: not-allowed;
        }
      }

      p {
        position: absolute;
        top: 1rem;
        left: 1rem;
        pointer-events: none;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: text;
        transition: all 0.2s ease-in-out;
        font-size: 14px;
        color: $gray-800;

        @media (max-width: 640px) {
          top: 0.875rem;
          font-size: 12px;
        }

        .required-star {
          color: $red-100 !important;
        }
      }
    }

    .send-code-btn {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;
      gap: 8px;
      padding: 6px 8px;
      transition: all 0.3s ease;
      background-color: $blue-100;
      border-radius: 6px;
      margin-right: 12px;

      > div {
        position: absolute;
        inset: 0;
        background-color: $blue-20;
        transition: all 100ms ease;
        transform-origin: right center;
        width: 100%;
        left: 100%;
      }

      > span {
        position: relative;
        z-index: 2;
        color: $white;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }

      &.disabled > div {
        animation: slideProgress 30s linear forwards;
      }

      &.loading {
        cursor: not-allowed;
        opacity: 0.4;
      }
    }

    @keyframes slideProgress {
      0% {
        left: 100%;
      }
      1% {
        left: 0;
      }
      100% {
        left: 100%;
      }
    }

    .trailing-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 100%;
      transition: all 0.2s ease-in-out;
      height: 32px;
      width: 32px;

      &:hover {
        background: $raisin-10;
      }
    }

    &.trailing {
      padding-right: 12px;
    }

    &.hasError {
      border-color: $red-500;
    }

    &.disabled {
      background-color: $raisin-10 !important;
    }

    .input.disabled {
      background-color: $raisin-10 !important;
      cursor: not-allowed;
      pointer-events: none;
    }

    .send-code-btn {
      pointer-events: auto;
    }
  }

  .error-message {
    font-size: 12px;
    margin-top: 4px;
    padding-inline: 8px;
    color: $red-500;
  }

  .sent-message {
    font-size: 12px;
    margin-top: 4px;
    padding-inline: 8px;
  }
}
