<div class="flex flex-col relative bg-transparent rounded-lg">
  <div
    [class.border-red-500]="hasError()"
    [class.bg-raisin-10!]="disabled()"
    [class.pr-3]="type() === 'password'"
    class="flex items-center relative h-12 sm:h-14 rounded-lg border border-raisin-10 bg-white disabled:bg-gray-100 disabled:cursor-not-allowed text-gray-800 text-xs sm:text-sm font-normal"
  >
    <div
      [class.pointer-events-none]="disabled()"
      class="flex-1 relative h-full py-2.5 px-4 peer w-full rounded-lg"
    >
      <input
        [type]="inputType()"
        [formControl]="control()"
        placeholder=" "
        autocomplete="off"
        [class.text-raisin-50]="disabled()"
        class="peer relative top-1.5 h-full w-full placeholder-transparent outline-none autofill:bg-white autofill:shadow-[inset_0_0_0_30px_white] autofill:text-black disabled:text-raisin-50"
      />
      <label
        class="pointer-events-none absolute left-4 top-2 text-xs opacity-70 transition-all duration-200 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-placeholder-shown:opacity-100 peer-focus:top-2 peer-focus:text-xs peer-focus:opacity-70 peer-autofill:text-[10px] sm:peer-autofill:text-xs peer-autofill:absolute peer-autofill:top-2 peer-autofill:text-raisin-130 peer-autofill:opacity-50"
      >
        <span [class.text-raisin-50]="disabled()">{{ label() }}</span>
        @if (required()) {
        <span class="text-red-500">*</span>
        }
      </label>
    </div>
    @if(trailingContent()){
    <ng-container *ngTemplateOutlet="trailingContent(); context: { $implicit: this }"></ng-container>
    } @if (type() === "password") {
    <button
      type="button"
      class="cursor-pointer rounded-full bg-white hover:bg-raisin-10 flex items-center justify-center size-8 transition-all duration-200 ease-in-out"
      (click)="toggleHiddenState()"
    >
      @if (hidden()) {
      <svg-icon src="assets/eye-open.svg" />
      } @else {
      <svg-icon src="assets/eye-closed.svg" />
      }
    </button>
    }
  </div>
  <ng-container *ngTemplateOutlet="bottomContent(); context: { $implicit: this }"></ng-container>
</div>

@if (hasError()) {
<span class="text-red-500 text-xs mt-1 px-2">{{ getError() }}</span>
}
