@use '../../../styles/vars.scss' as *;

:host {
  display: block;

  .auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
}
