<div class="wrapper">
  <div class="auth-container">
    @if (stage() === RegisterStage.Main) {
    <app-register-main
      [fs]="fs"
      [submitted]="fs.submitted"
      (moveTo)="moveTo($event)"
    ></app-register-main>
    } @else if (stage() === RegisterStage.Extra) {
    <app-register-extra
      [fs]="fs"
      [submitted]="fs.submitted"
      (moveTo)="moveTo($event)"
    ></app-register-extra>
    } @else if (stage() === RegisterStage.Verification) {
    <app-verification [fs]="fs" [submitted]="fs.submitted" (moveTo)="moveTo($event)">
    </app-verification>
    }
  </div>
</div>
