<div class="w-full flex items-center justify-center flex-1 flex-col gap-10 h-[calc(100vh-48px)]">
  <div
    class="bg-white relative w-full sm:w-xl flex flex-col items-center pb-10 pt-8 px-6 sm:px-22 sm:pt-14 sm:pb-10 rounded-2xl z-10 max-w-150 md:w-150"
  >
    <div class="flex flex-col items-center gap-8 w-full relative">
      <div class="flex w-full flex-col gap-6 md:gap-12 items-center">
        <span class="min-h-10">
          <svg-icon src="assets/tnet.svg" />
        </span>
        <button
          class="bottom-1! rounded-full bg-white hover:bg-raisin-10 flex items-center justify-center cursor-pointer size-8 transition-all duration-200 ease-in-out button absolute left-0 sm:-left-10"
        >
          <svg
            routerLink="/user/login"
            viewBox="0 0 24 24"
            class="flex items-center justify-center rotate-90 size-10"
          >
            <path
              d="M16.59 8.29492L12 12.8749L7.41 8.29492L6 9.70492L12 15.7049L18 9.70492L16.59 8.29492Z"
              fill="#1B1D27"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-8 w-full mt-20 mb-24">
      <h2 class="md: font-bold text-2xl leading-8 text-center">Recover password</h2>
      <form
        autocomplete="off"
        class="w-full"
        [formGroup]="sendPasswordRecoveryFs.form"
        (submit)=" passwordRecoveryStage() === 'Verification' ? verifyCode() : changePassword()"
      >
        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            @if (passwordRecoveryStage() === "Verification") {
            <app-input
              name="email"
              label="Email"
              type="email"
              [control]="sendPasswordRecoveryFs.getControl('email')"
              [submitted]="sendPasswordRecoveryFs.submitted"
              [disabled]="sendCodeActive() || codeSent()"
              [trailingContent]="sendEmail"
              [bottomContent]="bottomText"
            />
            <app-input
              name="code"
              label="One-time code"
              [control]="sendPasswordRecoveryFs.getControl('code')"
              [submitted]="sendPasswordRecoveryFs.submitted"
            />
            } @else {
            <app-input
              name="password"
              label="Password"
              type="password"
              [control]="passwordEnterFs.getControl('password')"
              [submitted]="passwordEnterFs.submitted"
            />
            <app-input
              name="passwordConfirm"
              label="Re-enter password"
              type="password"
              [control]="passwordEnterFs.getControl('passwordConfirm')"
              [submitted]="passwordEnterFs.submitted"
            />
            }
          </div>
          <app-button
            [disabled]="!!verifyPasswordCodeState?.loading() || !!passwordRecoveryState?.loading()"
            [title]="'Continue'"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #sendEmail>
  <button
    type="button"
    [disabled]="sendCodeActive()"
    (click)="sendCode()"
    [class.disabled:opacity-100]="codeSent()"
    [class.disabled:after:bg-blue-20]="codeSent()"
    class="relative z-50 overflow-hidden flex items-center justify-center mr-3 gap-2 px-2 py-1.5 rounded-md bg-blue-100 sm:text-sm text-xs text-white transition-all duration-200 cursor-pointer disabled:cursor-not-allowed disabled:opacity-40 disabled:after:absolute disabled:after:inset-y-0 disabled:after:left-0 disabled:after:w-full disabled:after:animate-slide-progress"
  >
    <span class="relative z-10">Get code</span>
  </button>
</ng-template>

<ng-template #bottomText>
  <span [hidden]="!codeSent()" class="text-gray-600 text-xs mt-1 px-2">
    The code is active for 3 minutes
  </span>
</ng-template>
