@use '../../styles/vars.scss' as *;

:host {
  width: 100%;
  z-index: 1;
  position: relative;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: inherit;
    height: 56px;
    color: $white;
    border: 1px solid transparent;

    @media (max-width: 768px) {
      height: 48px;
    }

    img {
      height: 24px;

      @media (max-width: 640px) {
        height: 20px;
      }
    }

    &.disabled {
      cursor: auto;
      opacity: 30;
    }

    &.borderOnHover {
      &:hover {
        border: 1px solid $raisin-20;
      }
    }

    &.blue {
      background-color: $blue-100;

      &:hover {
        background-color: $blue-110;
      }
    }

    &.raisin {
      background-color: $raisin-10;

      &:hover {
        background-color: $white;
      }
    }
  }
}
