@let post = data();

<a *transloco="let t" [routerLink]="`/post/${post.id}`" class="w-full">
  <article
    class="product-card-search group/product relative flex w-full cursor-pointer items-start border border-transparent bg-white px-2 py-3 transition-colors duration-300 ease-in-out hover:border-blue-40 rounded-lg md:p-3 md:pt-3"
  >
    <div class="relative shrink-0 lg:max-w-55">
      <div #swiper class="w-30 overflow-hidden md:w-54 flex">
        @for (img of post.images; track $index) {
          <div class="shrink-0" [attr.data-slide-index]="$index">
            <div class="mr-5" [class.mr-0!]="$last">
              <img
                [src]="img"
                width="216"
                height="180"
                alt="default-image"
                class="block h-31.5 w-30 shrink-0 rounded-md object-cover md:h-45 md:w-54"
                fallback="https://nf.mymarket.ge/no-image-min.png"
              />
            </div>
          </div>
        }

        @if (this.data().images.length > 1) {
          <div class="absolute top-[40%] z-50 flex w-full items-center justify-between px-1">
            <div (click)="prev($event)" class="post-card-arrow">
              <svg-icon src="assets/left-arrow-white.svg" />
            </div>
            <div (click)="next($event)" class="post-card-arrow">
              <svg-icon src="assets/right-arrow-white.svg" />
            </div>
          </div>
        }
      </div>
    </div>
    <div class="item ml-2 flex w-full flex-col overflow-hidden md:ml-3 md:gap-2">
      <div class="w-full border-b border-gray-130 pb-2 md:border-b-0 md:pb-2">
        <div class="flex w-full items-center justify-between">
          <div class="flex items-center gap-1">
            <svg-icon src="assets/private-person-2.svg" />
            <span class="tbc-medium text-[10px] text-blue-gray">
              {{ t('postDetails.privatePerson') }}
            </span>
          </div>
        </div>
        <span class="tbc-regular text-sm mt-2 line-clamp-1 text-black md:line-clamp-2">
          {{ post.title }}
        </span>
        <span
          [innerHTML]="post.description"
          class="tbc-regular font-normal! text-xs line-clamp-2 hidden max-h-15 w-full overflow-hidden leading-5 text-gray-135 md:line-clamp-3 md:block"
        >
        </span>
      </div>
      <div class="mt-2 flex w-full items-center justify-between md:hidden">
        <div class="flex flex-col items-start">
          <div class="flex items-center gap-1">
            <span class="tbc-medium text-sm text-raisin-150">
              {{ post.price }}
              {{ getCurrencySymbol() }}
            </span>
          </div>
        </div>
        <div class="flex items-center gap-1">
          <button
            class="cursor-pointer flex items-center justify-center outline-none rounded-lg bg-gray-10 transition-all fill-black-100 p-2 hover:bg-yellow"
          >
            <svg-icon src="assets/heart.svg" />
          </button>
        </div>
      </div>
    </div>
    <div
      class="relative ml-2 hidden max-h-full min-h-45 flex-col items-end justify-between md:flex md:min-w-32 md:border-l-2 md:border-blue-gray-20"
    >
      <div class="flex flex-col items-start">
        <div class="flex items-center gap-1">
          <span class="tbc-medium text-sm text-raisin-150">
            {{ post.price }}
            {{ getCurrencySymbol() }}
          </span>
        </div>
      </div>
      <div class="flex items-center gap-1">
        <button
          class="cursor-pointer flex items-center justify-center outline-none rounded-lg bg-gray-10 transition-all fill-black-100 p-2 hover:bg-yellow"
        >
          <svg-icon src="assets/heart.svg" />
        </button>
      </div>
    </div>
  </article>
</a>
