<div>
  @if (label()) {
  <label class="flex items-center text-xs tbc-medium">
    <span class="block tbc-medium pt-3 pb-2">
      Choose/type Category @if (required()) {
      <span class="text-red-500 ml-0.5">*</span>
      }
    </span>
  </label>
  }
  <div class="relative">
    <div
      highLight
      hClass="border-blue-120!"
      (click)="dropEl.focus()"
      (click)="selecting.set(true)"
      class="flex border border-gray-70 bg-transparent h-12 min-h-9.5 rounded-[10px] w-full hover:border-blue-120 transition-all duration-100 ease-in-out cursor-pointer"
    >
      <div class="mx-0.5 w-full flex items-center px-3.5 py-2.5 pr-2">
        <div class="mx-0.5 w-full flex items-center text-xs text-raisin-70 leading-[15.48px] absolute">
          @if (!control().value) { {{ label() }} }
        </div>
        <div class="w-full">
          <input
            #dropEl
            (blur)="selecting.set(false)"
            [formControl]="control()"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            class="w-full mx-0.5 leading-[15.48px] h-[15.48px] relative z-20"
          />
        </div>
      </div>
      <div class="items-center self-stretch shrink-0 flex justify-center cursor-pointer w-7">
        <svg-icon [src]="selecting() ? '/assets/arrow-up.svg' : '/assets/arrow-down.svg'" />
      </div>
    </div>
    @if (selecting()) {
    <div
      class="absolute bg-white top-[calc(100%+5px)] z-9999 rounded-[10px] border-gray-70 shadow-[0_2px_6px_0_rgba(39,42,55,0.1)] w-full overflow-hidden"
    >
      <div class="max-h-75 overflow-y-hidden relative py-1 whitespace-pre-wrap!">
        <div class="px-2.5 py-3.5 text-xs block w-full cursor-pointer select-none whitespace-pre-wrap!">
          <div>Christmas</div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
