:host {
  .bg {
    background-image: url(https://auth.tnet.ge/images/BG_1.webp);
    background-blend-mode: screen;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-svg {
    position: absolute;
    opacity: 0.1;
    bottom: 0;
    right: 0;
    pointer-events: none;
  }
}
